body {
	background-color: black;
}


#header {
	background-color: blue;
	height: 52px;
	width: 1300px;
	margin: auto;
}

.column {
	background-color: black;
	display: inline-block;
	height: 600px;
	width: 400px;
	padding: 0;
}

.block {
	background-color: black;
	height: 400;
	width: 200;
	margin: auto;
	padding: 0;
}


/* column 1*/
#leaderboard {
	background-color: white;
	height: 400px;
	width: 390px;
}

#entertainment {
	background-color: pink;
        height: 200px;
        width: 195px;
	display: inline-block;
}

#sports {
        background-color: lightblue;
        height: 200px;
        width: 190px;
	float: left;
}


/* column 2*/
#fooddrink {
	background-color: yellow;
	height: 200px;
	width: 195px;
	float: left;
}

#generalknowledge {
	background-color: brown;
	height: 200px;
	width: 195px;
	float: left;
}

#geography {
        background-color: green;
        height: 400px;
        width: 390px;
	float: right;
}


/* column 3*/
#history {
	background-color: red;
	height: 200px;
	width: 390px;
}

#sciencenature {
	background-color: violet;
	height: 200px;
	width: 190px;
	float: left;
}

#tvmovies {
	background-color: purple;
	height: 200px;
	width: 190px;
	float: left;
}

#music {
	background-color: turquoise;
	height: 200px;
	width: 190px;
	display: inline-block;
	float: left;
}

#profile {
	background-color: yellow;
	height: 200px;
	width: 190px;
	display: inline-block;
	float: left;
}
